.logo_img{
    content: url("../img/photos/logo.png");
    /*mix-blend-mode:multiply;*/
}
.ft_logo_img{
    content: url("../img/photos/logo.png");
    /*mix-blend-mode:multiply;*/
}
#icon_menu{
    content: url("../img/svg/menu.svg");
}
#slide1_img{
    
    content: url("../img/photos/slide1_img.png");
}
#slide2_img{
    content: url("../img/photos/slide2_img.jpg");
}
#slide3_img{
    
    content: url("../img/photos/slide3_img.jpg");
}
#sp_content_img_1{

    content: url("../img/photos/sp1.jpg");
}
#tin_van_img_1{
    content: url("../img/photos/tv1.jpg");
}
#tin_van_img_2{
    content: url("../img/photos/tv2.jpg");
}
#tin_van_img_3{
    content: url("../img/photos/tv3.jpg");
}
.arrow_right{
    content: url("https://img.icons8.com/pastel-glyph/64/000000/circled-right.png");
}
.arrow_left{
    content: url("https://img.icons8.com/pastel-glyph/64/000000/circled-left.png");
}