@import url("var.css");
@import url("max_width.css");
@import url("id_anh.css");
p {
    margin: 0px;
  }
h1 {
    margin: 0px;
  }
h2 {
    margin: 0px;
    font-size: 1.8em;
  }
h3 {
    margin: 0px;
    font-size: 1.5em;
  }
  h4, h5 {
      margin: 0px;
  }
html, body {
    font-size: 14px;
  }

html{
    font-family: sans-serif;
    line-height: 1.15em;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    display: block;
}
head{
    display: none;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0px;
}
::-webkit-scrollbar{
    width: 10px;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    background: var(--mau_nen_header_1);
    cursor: pointer;
    border-radius:4px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px var(--mau_nen_header_1);
  }
*,::after,::before{
    box-sizing: border-box;
}
.header{
    position: fixed;
    left: 0px;
    top: 0px;
    height: var(--height_header);
    width: 100%;
    background-color: var(--mau_nen_header_1);
    z-index: 500;
    display: flex;
}
.logo{
    position: relative;
    top:10%;
    left:20px;
    height: 80%;
    width: var(--width_logo);
    overflow-y: hidden;
}
.logo_img{
    top: 50%;
    position: absolute;
    width: 100%;
    transform:translateY(-50%);
}
.menu{
    position: relative;
    top:50%;
    height: 80%;
    width: var(--rong_menu);
    transform: translateY(-50%);
    margin-right: var(--le_menu);
    order: 2;
    margin-left: auto;
}
.menu > ul{
    position: relative;
    top:50%;
    width : 100%;
    height : 100%;
    left : 0px;
    transform: translateY(-50%);
    
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    order: 2;
    margin-left: auto;
    flex-wrap: wrap;
}

.menu > ul > li{
    position: relative;
    width: auto;
    list-style: none;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.menu > ul > li > a{
    position: relative;
    padding: 7px;
    display: block;
    
    
    text-decoration: none;
    font-size: large;
    color: var(--color_chu_menu);
    border-radius: 8px;
    margin: auto;
}
.menu > ul > li > a:hover{
    background-color: white;
    color: var(--mau_nen_header_1);
}

.menu_sub_x{
    position: relative;
    background-color:var(--mau_nen_header_1);
    top: -50%;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menu_sub{
    position: relative;
    width: 22%;
    height: auto;
    margin-left: calc((100% - 4 * 22%) / 8);
    margin-right: calc((100% - 4 * 22%) / 8);
    margin-bottom: 20px;
    display: none;
}

.menu_sub > ul {
    position: relative;
    margin: 0px;
    left: 0px;
    padding: 0px;
    display: none;
}

.menu_sub:hover > ul{
    display: block;
}

.menu_sub > a{
    position: relative;
    left: 0px;
    padding: auto;
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: large;
    color: var(--color_chu_menu);
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}

.menu_sub >a:hover{
    background-color: white;
    color: var(--mau_nen_header_1);
}

.menu_sub > ul > li{
    list-style: none;
    margin: 0px;
    left: 0px;
    padding: 0px;
}

.menu_sub > ul > li > a{
    position: relative;
    left: 0px;
    padding: auto;
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: large;
    color: var(--color_chu_menu);
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.menu_sub > ul > li > a:hover{
    background-color: white;
    color: var(--mau_nen_header_1);
}

#icon_menu{
    display:none;
}
.main{
    position: relative;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.hero{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: var(--top_web_main);
    
}
.hero_sub{
    position: relative;
    width: 100%;
    overflow-y: hidden;
}
.slide_img{
    position: relative;
    width: 100%;
}

.main_web{
    position: relative;
    top: var(--top_web_main);
    
    width: 100%;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
}
.ve_chung_toi_ss{
    height: 0px!important;
}
.ve_chung_toi_x{
    position: relative;
    left: var(--thut_le_section_ve_chung_toi);
    width: calc( 100% - var(--thut_le_section_ve_chung_toi)*2 );
    height: auto;
    background-color:var(--mau_chu_de_1);
    padding-top: 20px;
}
.ve_chung_toi_h2{
    position: relative;
    padding-bottom: 12px;
    font-family: var(--font_section_h2);
}
.ve_chung_toi{
    position: relative;
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    height:var(--height_section_ve_chung_toi);
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    display: flex;
    flex-direction: row;
}
.ve_chung_toi_menu{
    position: relative;
    margin-top: 3%;
    height:100%;
    left: 0px;
    min-width: var(--min_menu_section_ve_chung_toi);
    width: var(--ty_le_menu_section_ve_chung_toi);
    display: flex;
    flex-direction: column;
}
.menu_btn{
    margin-top: 10%;
    margin-left: 20px;
    padding-top: 10%;
    padding-left: 40px;
    padding-right: 60px;
    padding-bottom: 10%;
    border-radius: 12px;
    cursor: pointer;
}
.menu_btn:hover{
    
    color:rgb(253, 164, 0);
    background-color: cadetblue;
}
.menu_btn h3{
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-family: var(--font_section_h2);
}
.ve_chung_toi_content{
    position: relative;
    margin-top: 3%;
    height:calc(100% - var(--ty_le_ngang_menu_section_ve_chung_toi) - 5%);
    /*background-color: aliceblue;*/
    width: 100%;
    overflow:hidden;
}
.ve_chung_toi_content_sub{
    top:0px;
    position: relative;
    width: 100%;
    height: 550px;
    display: flex;
}
.content_img{
    position: relative;
    width: var(--ty_le_img_ve_chung_toi_content);
}
.content_img img{
    position:absolute;
    left:10%;

    width: 80%;
    top:50%;
    transform:translateY(-50%);
}
.ve_chung_toi_content_p{
    position: relative;
    width: calc(100% - var(--ty_le_img_ve_chung_toi_content) );
    margin:20px;
    overflow-x: hidden;
}


.ve_chung_toi_content_p p,h3,li,a{
    padding-left: 3%;
    line-height: 1.2em;
    text-align: justify;
    text-decoration: none;
    
}

.ve_chung_toi_content_p::-webkit-scrollbar{
    display: none;
}

.dich_vu_x{
    position: relative;
    
    left: var(--thut_le_dich_vu);
    width: calc( 100% - var(--thut_le_dich_vu)*2 );
    height: auto;
    
}

.dich_vu_h2{
    position: relative;
    padding-bottom: 12px;
    font-family: var(--font_section_h2);
}
.dich_vu{
    
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    position: relative;
    /*background-color:var(--mau_chu_de_1);*/
    height: var(--height_section_dich_vu);
    
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    padding: 20px;
}
.dich_vu_sub{
    position: relative;
    width: 15%;
    margin-left: calc((100% - 5 * 15%) / 10);
    margin-right: calc((100% - 5 * 15%) / 10);
    display: flex;
    flex-direction: column;
    
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 8px 8px -4px;
    cursor: pointer;
}
.dich_vu_sub:hover:nth-child(n){
    transform:translateY(-20px);
    box-shadow: rgb(38, 57, 77) 0px 25px 30px -10px;
    transition-duration: 0.15s;
    outline: none;
}
.dich_vu_img{
    position: relative;
    display: block;
    margin: 5%;
    width: 90%;
    border-radius: 12px;

}
.dich_vu_sub_content{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
.dich_vu_sub_content h3{
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
.san_pham_x{
    position: relative;
    padding-top: 20px;
    left: var(--thut_le_dich_vu);
    width: calc( 100% - var(--thut_le_dich_vu) * 2 );
    height: auto;
    background-color:var(--mau_chu_de_1);
}

.san_pham_h2{
    position: relative;
    padding-bottom: 12px;
    font-family: var(--font_section_h2);
}

.san_pham{
    position: relative;
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    height:var(--height_section_san_pham);
    
    /*background-color:var(--mau_chu_de_1);*/
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/

}

/*
.san_pham_menu{
    height:10%;
    width: 100%;
    left: 30px;
}
.san_pham_menu_btn{
    position: relative;
    padding-top:20px;
    padding-left: 20px;
    left:30px;
    background-color:rgba(255, 255, 255, 0);
    border: none;

}
.san_pham_menu_btn:hover{
    color:red;
    font-weight: bold;
}
*/
.san_pham_list{
    height:100%;
    width: 100%;
    /*background-color: var(--mau_chu_de_1);*/
    display:flex;
}
.sp_list_sub{
    position: relative;
    width: 15%;
    top:10%;
    height:80%;
    margin-right: calc((100% - 5 * 15%) / 10);
    margin-left: calc((100% - 5 * 15%) / 10);
    background-color: var(--mau_nen_header_1);
    border-radius:12px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #ffffff;
}

.sp_list_sub:hover{
    transform:translateY(-20px);
    box-shadow: rgb(38, 57, 77) 0px 25px 30px -10px;
    transition-duration: 0.15s;
    outline: none;
}

.sp_list_sub_img{
    position: relative;
    margin:5%;
    width:90%;
    height: 60%;
    border-radius: 12px;
}
/*
.san_pham_content{
    height:70%;
    position: relative;
    width: 100%;
    display:flex;
}
.content_img{
    position: relative;
    padding: 20px;
    top:0px;
    left:0px;
    width: 30%;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sp_content_img{
    position: absolute;
    width: 90%;
   border-radius: 12px;
   top:50%;
   transform:translateY(-50%)
}
.content_para{
    position: relative;
    width: 70%;
    height: 100%;
}
.content_para button {
    position: absolute;

    top:90%;

    height:35px;
    width: 10%;

    border-radius: 8px;
    border: 1px solid;
    left:50%;
    transform: translateX(-50%);
    background-color: aqua;
    font-weight: bold;
}
.content_para h3{
    height:10%;
}
.content_para p{
    line-height: 1.5em;
    position: relative;
    padding:2em;
    text-align: justify;
}
.content_para div{
    position: relative;
    top:0px;
    bottom: 85%;
    height: 75%;
    overflow-y: hidden;
}
*/
.tieu_bieu_x{
    position: relative;
    background-color: var(--mau_chu_de_1);
    left: var(--thut_le_dich_vu);
    width: calc( 100% - var(--thut_le_dich_vu)*2 );
    height: auto;
    padding-top:20px;
    padding-bottom:20px;
}

.chuyen_dung{
    position: relative;
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    height:auto;
    
    /*background-color:var(--mau_chu_de_1);*/
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
}
.tieu_bieu::-webkit-scrollbar{
    display: none;
}
.arrow{

    position: absolute;
    top: 0px;
    width: 100%;
    
    z-index: 100;
    display:block;

}
.arrow_left{
    position: absolute;
    float: left;
    left:3%;
    top:50%;
    transform:translateY(-50%);
    z-index: 100;
}
.arrow_right{
    position: absolute;
    float: right;
    right: 3%;
    top:50%;
    transform:translateY(-50%);
    z-index: 100;
}
.tieu_bieu_sub{
    position: relative;
    height: 100%;
    width: 30%;
    margin-right: calc((100% - 3 * 30%) / 6);
    margin-left: calc((100% - 3 * 30%) / 6);
}
.moi_nhat_sub{
    position: relative;
    height: 100%;
    width: 25%;
    margin-right: calc((100% - 4 * 25%) / 8);
    margin-left: calc((100% - 4 * 25%) / 8);
}
.chuyen_dung_sub{
    position: relative;
    height: 100%;
    width: 22.75%;
    margin-left: calc((100% - 4 * 20%) / 18);
    margin-right: calc((100% - 4 * 20%) / 18);
    margin-top: calc((100% - 4 * 20%) / 12);
    margin-bottom: calc((100% - 4 * 20%) / 12);
}
.xem_them_1{
    position: relative;
    display: flex;
    top: 0px;
    height: 35px;
    width: 100%;
    flex-direction: row-reverse;
}
.xem_them_1 button{
    top:0px;
    position: relative;
    float:right;
    right: 60px;
    height: 100%;
    width: 100px;
    outline:none;
    border:none;
    background-color: cadetblue;
    color:white;
}
.xem_them_1 div{
    position: relative;
    float:right;
    right: 195px;
    top:0px;
    height:100%;
    width: 35px;
    background-color: burlywood;
}


.tieu_bieu_sub_img{
    position: relative;
    height:75%;
    border-radius:15px;
    
}
.tieu_bieu_sub_img img{
    position: relative;
    width: 100%;
    padding-top: 00%;
    border-radius:15px;
}



.tin_tuc_x{
    position: relative;
    
    left: var(--thut_le_dich_vu);
    width: calc( 100% - var(--thut_le_dich_vu)*2 );
    height: auto;
}
.tin_tuc{
    position: relative;
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    height:var(--height_section_tin_tuc);
    
    /*background-color:var(--mau_chu_de_1);*/
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    display:flex;
    
}
.tin_doc{
    position: relative;
    top:0px;
    left:0px;
    width: 30%;
    height: calc( 100% - 30px);
    padding:15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: var(--mau_chu_de_1);
    border-radius: 20px;
}
.tin_doc:hover{
    background-color:bisque;
    
}
.tin_doc_img{
    top:0px;
    left:0px;
    position: relative;
    width: 100%;
    height:auto;
    overflow-x: hidden;
}
.tin_doc_img::-webkit-scrollbar{
    display: none;
}
.tin_doc_img img{
    position: relative;
    width: 100%;
    border-radius: 12px;
    z-index: 50;
}
.tin_doc_img img:hover{
    transform: scale(1.5);
    transition-duration: 1s;
}
.tin_doc_content{
    position: relative;
    text-align: justify;
    left:0px;
    line-height: 1.5em;
    overflow-x: hidden;
}
.tin_doc_content::-webkit-scrollbar{
    display: none;
}
.tin_ngang{
    position: relative;
    top:0px;
    left:0px;
    width: 40%;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}
.tin_van{
    position: relative;
    top:0px;
    height: 25%;
    margin: calc( (100% - 3 * 25%)/ 12);
    padding-right:calc( (100% - 3 * 25%)/ 12);
    width: 100%;
    display: flex;
    overflow-y: hidden;
    cursor: pointer;
}

.tin_van:hover{
    background-color:bisque;
    border-radius: 20px;
}

.tin_van_img{
    position: absolute;
    display: block;
    width: 30%;
    margin-top: 5px;
    padding-bottom: 5px;
    z-index: 50;
}
.tin_van_img:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}

.tin_van_para{
    position: relative;
    left:35%;
    width: 65%;
    overflow-x: hidden;
    
}
.tin_van_para::-webkit-scrollbar{
    display: none;
}

.tin_van_para h3{
    position: relative;
    padding-bottom: 1.5em;
    left:5%;
}
.tin_van_para p{
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    line-height: 1.5em;
    text-align: justify;
    width:100%;
    transform: translateY(-100%);
}
.doi_tac_x{
    position: relative;
    
    left: var(--thut_le_dich_vu);
    width: calc( 100% - var(--thut_le_dich_vu)*2 );
    height: auto;
    background-color: var(--mau_nen_header_1);
    padding-top: 20px;
}
.doi_tac_x h2{
    color: #ffffff;
}
.doi_tac{
    position: relative;
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    height: auto ;
    /*background-color:var(--mau_chu_de_1);*/
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    display: flex;
    flex-wrap: wrap;
}
.doi_tac_sub{
    position: relative;
    width: 12%;
    height: auto;
    margin-left: calc(( 100% - 6 * 12% ) / 12);
    margin-right: calc(( 100% - 6 * 12% ) / 12);
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #ffffff;
}
.doi_tac_sub:hover{
    transform:translateY(-20px);
    box-shadow: rgb(38, 57, 77) 0px 25px 30px -10px;
    transition-duration: 0.15s;
    outline: none;
}
.doi_tac_sub_img{
   left:20%;
   top:0px;
   position: relative;
   width: 60%;
   padding-top: 60%; 
  overflow: hidden;

}
.doi_tac_img{
    position: absolute;
    display:block;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;
}
.chung_toi_muon_x{
    position: relative;
    left: var(--thut_le_dich_vu);
    width: calc( 100% - var(--thut_le_dich_vu)*2 );
    height: auto;
}
.chung_toi_muon{
    position: relative;
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    
    
    /*background-color:var(--mau_chu_de_1);*/
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/

}
.chung_toi_muon_sub{
    position: relative;
    width: 15%;
    padding-bottom: 15%;
    margin-left: calc((100% - 4 * 15%) / 8);
    margin-right: calc((100% - 4 * 15%) / 8);
    border-radius: 50%;

    background-color: rgba(251, 133, 0, 1);;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.chung_toi_muon_sub:hover{
    
    box-shadow: rgb(38, 57, 77) 10px 10px 15px -7px;
    transition-duration: 0.15s;
    outline: none;
}
.chung_toi_muon_sub_img{
    position: relative;
    width: 60%;
    left:50%;
    transform: translateX(-50%);
    top:15px;
}
.chung_toi_muon_sub_img img{
    position: relative;
    width: 100%;
    
}
.chung_toi_muon_sub_para{
    position: relative;
    top:40%;
    
}
.chung_toi_muon_sub_para h3{
    color: rgb(2,48, 71);
    text-align: center;
}
.tai_sao_lua_chon_chung_toi_x{
    position: relative;
    left: var(--thut_le_dich_vu);
    width: calc( 100% - var(--thut_le_dich_vu)*2 );
    height: auto;
}
.tai_sao_lua_chon_chung_toi{
    position: relative;
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    height:var(--height_section_ve_chung_toi);
    
    /*background-color:var(--mau_chu_de_1);*/
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    
}
.tai_sao_lua_chon_chung_toi img{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
.tai_sao_lua_chon_chung_toi_sub{
    position: relative;
    float: left;
    width:50%;
    height:100%;
    background-color: rgba(240, 248, 255, 0.5);
    display:flex;
    flex-wrap: wrap;
}
.lua_chon{
    position: relative;
    width: 40% ;
    height:40%;
    background-color: var(--mau_nen_header_1);
    margin-top: 3%;
    margin-left: calc((100% - 2*40%)/4);
    margin-right: calc((100% - 2*40%)/4);
    cursor: pointer;
    border-radius: 8px;
}
.danh_gia_khach_hang_x{
    position: relative;
    left: var(--thut_le_dich_vu);
    width: calc( 100% - var(--thut_le_dich_vu)*2 );
    height: auto;
}
.danh_gia_khach_hang{
    position: relative;
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    height:var(--height_section_danh_gia_khach_hang);
    
    display: flex;
    flex-direction: row;
    /*background-color:var(--mau_chu_de_1);*/
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/

}
.danh_gia_khach_hang_sub{
    position: relative;
    height: 100%;
    border-style: solid ;
    border-width:3px;
    border-color: var(--mau_nen_header_1);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 30%;
    padding-bottom: 15%;
    margin-left: calc((100% - 3 * 30%) / 6);
    margin-right: calc((100% - 3 * 30%) / 6);
}
.avt_khach{
    position: relative;
    height:100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    
    
    align-items: center;
}
.avt{
    top: 100%;
    position: relative;
    height:80% ;
    padding-top: 0%;
    transform:translateY(-100%);
    border-radius:500%;
    overflow: hidden;
    margin-left: 15px;
}
.avt img{
    position: relative;
    height:100%;
}
.thong_tin_khach{
    position: relative;
    left: 0px;
    height:80%;
    top: 100%;
    transform:translateY(-100%);
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}
.thong_tin_khach h4{
    color:brown;
}
.sao{
    margin-left: auto;
    order: 2;
    position: relative;
    right: 0px;
    height:25%;
    top: 20%;
    transform:translateY(-50%);
    display: flex;
    
    flex-direction: row;
}
.sao img{
    position: relative;
    height:100%;
}
.khach_review{
    position: relative;
    top:15%;
    left:10%;
    height:100%;
    width: 80%;
   text-align: justify;
   line-height: 1.5em;
}
.lien_he_x{
    position: relative;
    left: var(--thut_le_dich_vu);
    width: calc( 100% - var(--thut_le_dich_vu)*2 );
    height: auto;
}
.lien_he{
    position: relative;
    left:calc((100% - var(--width_main_section)) / 2);
    height:var(--height_section_ve_chung_toi);
    width: var(--width_main_section);
    /*background-color:var(--mau_chu_de_1);*/
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/

}
.lien_he_my_map{
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    
}
.lien_he_my_map iframe{
    position: relative;
    width: 50%;
    height: 480px;
    top: 0px;
    transform: translateY(-50px);
}
.footer{
    position:relative;
    height: auto;
    width:100%;
    background-color:var(--mau_footer);
    display: flex;
    color: white;
}
.ft_sub{
    position: relative;

    width: 25%;
    height:auto;
    padding-right: 2.5%;
    padding-left: 2.5%;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
.ft_logo_img{
    position: relative;
    top: 20px;
    left: 25%;
    width: 50%;
}
.ft_sub p,h3{
    top:20px;
    position: relative;
    line-height: 1.8;
}
.icon_social{
    position: relative;
    height: 48px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.icon_social img{
    position: relative;
    height: 100%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 15px;
}
.ft_sub li{
    padding-top: 30px;
    list-style: none;
    font-weight: bold;
}
.ft_sub_col{
    display: flex;
}
.ft_sub_col div{
    margin-right: 10px;
    width: 50%;
}
.ft_sub_2{
    position: relative;
    height:auto;
    text-align: justify;
}





/*---------------------------------------------------------*/
/*--------------------set up sp   -------------------------*/
/*---------------------------------------------------------*/



.thong_tin_san_pham_x{
    position: relative;
    left: var(--thut_le_dich_vu);
    width: calc( 100% - var(--thut_le_dich_vu)*2 );
    height: auto;
    background-color: var(--mau_chu_de_1);
    padding-top: 20px;
}

.thong_tin_san_pham{
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    position: relative;
    /*background-color:var(--mau_chu_de_1);*/
    height: auto;
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.anh_ten_sp{
    position: relative;
    left: 20px;
    width: calc(100% - 2* 20px);
    height: auto;
    min-height: 300px;
    display: flex;
}

.ten_sp{
    position: relative;
    left: 0px;
    width: 50%;
    height: 100%;
    min-height: 300px;
    
}

.ten_sp h3{
    padding-left: 20px;
}

.ten_sp p{
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    margin-bottom: 0px;
    line-height: 1.5em;
    text-align: justify;
    width:100%;
    transform: translateY(-100%);
}

.anh_img{
    position: relative;
    left: 0px;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.anh_img img{
    position: relative;
    width: 100%;
}

.thong_so_sp{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    
}

.menu_thong_so_sp{
    align-items: center;
}

.menu_thong_so_sp ul{
    position: relative;
    
}

.menu_thong_so_sp li{
    display: inline;
    text-align: center;
}

.menu_thong_so_sp button{
    position: relative;
    text-align: center;
    padding: 7px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0) ;
}

.menu_thong_so_sp button:hover{
    background-color: var(--mau_nen_header_1);
    color: #ffffff;
}

.content_thong_so_sub{
    position: relative;
    height: auto;
    min-height: 600px;
    width: 100%;
    overflow-y: auto;
    
}
.content_thong_so_sub::-webkit-scrollbar{
    display: none;
}

.content_thong_so_sub p{
    line-height: 1.5em;
    text-align: justify;
}

.content_thong_so_sub table{
    position: relative;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    
    
}
table   {
    border-collapse: collapse;
    border: 1px solid black;
 }
 
 table  th {
    border: 1px solid black;
    padding: 20px;
 
 }
 table  td {
    border: 1px solid black;
    padding: 15px;
 }
/*---------------------------------------------------------*/
/*--------------------set up riêng   ----------------------*/
/*---------------------------------------------------------*/
.slide_ngang{
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
}
.slide_ngang::-webkit-scrollbar{
    display:none;
}
.slide_ngang::scrollbar{
    display:none;
}

.slide_sub{
    flex-shrink: 0;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
}

.slide_doc{
    display:flex;
    flex-direction: column;
    overflow-x: scroll;
}
.slide_doc::-webkit-scrollbar{
    display:none;
}
.slide_doc::scrollbar{
    display:none;
}



.khoang_cach_giua_cac_section{
    position: relative;
    height: var(--khoang_cach_giua_cac_section);
}
.anh_chu_ngang{
    position: relative;
    width: 800px;
    height: 800px;
    background-color: rgb(51, 182, 154);
    display: flex;
}
.box_waper{
    
    display: flex;
    flex-wrap: wrap;
}