@import url("var.css");
@import url("max_width.css");
@import url("id_anh.css");


.main_san_pham_x{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    background-color:var(--mau_chu_de_1);
    padding-top: 20px;
}

.main_san_pham{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    display: flex;
    flex-direction: row;
}

.muc_luc_xe_x{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 12%;
    min-width: 100px;
    height: auto;
    
    padding-top: 20px;
}

.muc_luc_xe{
    position: relative;
    margin-top: 0px;
    padding: 0px;
    top:0px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: 250px;
    width: 100%;
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.muc_luc_xe_sub{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    min-height: 40px;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.muc_luc_xe_sub > a{
    position: relative;
    font-size: large;
    font-weight: bold;
    color: var(--mau_nen_header_1);
    width: 100%;
    padding: 5px;
    margin: auto;
    display: block;
    border-radius: 5px;
}

.muc_luc_xe_sub > a:hover{
    background-color: var(--mau_nen_header_1);
    color: #ffffff;
}

.muc_luc_xe_sub > ul{
    margin-left: 3px;
    padding-left: 20px;
    opacity: 0;
    transition-property: opacity;
    transition: opacity 1s;
    height: 0;
    overflow: hidden;
}

.muc_luc_xe_sub:hover > ul{
    opacity: 1;
    height: auto;

}

.muc_luc_xe_sub > ul > li{
    list-style: none;
    cursor: pointer;
    line-height: 2em;
    margin-left: 0px;
    padding-left: 0px;
}



.muc_luc_xe_sub > ul > li > a{
    position: relative;
    font-size:medium;
    padding-left: 0px;
    color: var(--mau_nen_header_1);
    width: 100%;
    padding: 4px;
    margin-left: 0px;
    display: block;
    border-radius: 3px;
}

.muc_luc_xe_sub > ul > li > a:hover{
    background-color: var(--mau_nen_header_1);
    color: #ffffff;
}

.danh_sach_sp_x{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    background-color:var(--mau_chu_de_1);
    padding-top: 20px;
}


.danh_sach_sp{
    position: relative;
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    display: flex;
    flex-direction: column;
}

.slide_chon_xe{
    position: relative;
    min-height: 10px;
}

.danh_sach_xe{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 400px;
    
    overflow: hidden;
}

.xe_sub{
    position: relative;
    width: var(--width_sub_xe);
    margin-left: calc((100% - var(--so_sub_xe_mot_hang) * var(--width_sub_xe) )/(2 * var(--so_sub_xe_mot_hang) ));
    margin-right: calc((100% - var(--so_sub_xe_mot_hang) * var(--width_sub_xe) )/(2 * var(--so_sub_xe_mot_hang) ));
    
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: auto ;
    height: auto;
    
}
.xe_img{
    position: relative;
    width: 100%;
    padding-top: calc( 100% / 16 * 9);
    background-color: bisque;
    overflow: hidden;
}
.xe_img img{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 100%;


}
.xe_para{
    position: relative;
    text-align: center;
    padding: 5px;
}

.khoang_cach_giua_cac_section{
    position: relative;
}

.noi_dung_ve_chung_toi_x{
    position: relative;
    left: var(--thut_le_section_ve_chung_toi);
    width: calc( 100% - var(--thut_le_section_ve_chung_toi)*2 );
    height: auto;
    background-color:var(--mau_chu_de_1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.noi_dung_ve_chung_toi{
    position: relative;
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    display: flex;
    flex-direction: column;
}




.ve_chung_toi_sub_1{
    position: relative;
    display: flex;
    height: 50px;
    
}

.ve_chung_toi_sub_1_h3{
    position: relative;
    display: block;
    height: 100%;
    width: 300px;
    background-color: var(--mau_nen_header_1);

}
.ve_chung_toi_sub_1_h3 h3{
    position: relative;
    display: block;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

.ve_chung_toi_sub_1_img{
    position: relative;
    height: 100%;
    width: auto;
    background-color: orange;
}
.ve_chung_toi_sub_1_img img{
    position: relative;
    height: 100%;
}

.ve_chung_toi_sub_2{
    position: relative;
    padding: 10px;
    display: flex;
    
}

.ve_chung_toi_sub_2_content{
    margin-left: 20px;
    position: relative;
    width: 50%;
    text-align: justify;
    line-height: 1.5em;
}
.ve_chung_toi_sub_2_img{
    position: relative;
    width: 50%;
    margin-left: 20px;
    
}
.ve_chung_toi_sub_2_img img{
    position: relative;
    width: 100%;
}

.ve_chung_toi_sub_3{
    position: relative;
    padding: 10px;
    display: flex;
    
}

.ve_chung_toi_sub_3_content{
    margin-left: 20px;
    position: relative;
    width: 50%;
    text-align: justify;
    line-height: 1.5em;
}

.ve_chung_toi_sub_2_content h3,ul,li{
    margin-left: 0px;
}

.ve_chung_toi_sub_3_img{
    position: relative;
    width: 50%;
    margin-left: 20px;
    
}
.ve_chung_toi_sub_3_img img{
    position: relative;
    width: 100%;
}

.ve_chung_toi_sub_4{
    position: relative;
    display: flex;
    width: 100%;
}
.sub_sub{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 20px;
}
.sub_sub_header{
    position: relative;
    height: 50px ;
    display: flex;
    margin-left: 20px;
}
.sub_sub_header_h3{
    position: relative;
    width: 200px;
    background-color: var(--mau_nen_header_1);
}
.sub_sub_header_h3 h3{
    position: relative;
    color: #ffffff;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.sub_sub_header_img{
    position: relative;
    height: 100%;
    width: auto;
    background-color: orange;
}
.sub_sub_header_img img{
    position: relative;
    height: 100%;
}
.sub_sub_content{
    margin: 20px;
    position: relative;
    text-align: justify;
    line-height: 1.5em;
}
.noi_dung_ve_chung_toi li {
    line-height: 1.5em;
}

.sub_sub_1_img{
    position: relative;
    width: 100%;
    height: auto;
}

.sub_sub_1_img img{
    position: relative;
    left: 10%;
    width: 80%;
}
.khoang_cach_noi_dung_ve_chung_toi_footer{
    height: 0px !important;
}

.main_tin_tuc_x{
    position: relative;
    left: var(--thut_le_section_ve_chung_toi);
    width: calc( 100% - var(--thut_le_section_ve_chung_toi)*2 );
    height: auto;
    background-color:var(--mau_chu_de_1);
    padding-top: 20px;
    padding-bottom: 20px;

}
.main_tin_tuc{
    position: relative;
    left:calc((100% - var(--width_main_section)) / 2);
    width: var(--width_main_section);
    
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 4px 9px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    display: flex;
    flex-direction: column;
}
.tin_noi_bat{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 480px;
    display: flex;
}
.tin_noi_bat_doc{
    position: relative;
    width: 50%;
    height: auto;
    
    padding: 20px;
}
.tin_noi_bat_img{
    position: relative;
    width: 100%;

    padding-top: calc(100% * 9 / 16);
    background-color:antiquewhite;
    overflow: hidden;
    border-radius: 12px;
}

.tin_noi_bat_img img{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.tin_noi_bat_header{
    position: relative;
    top:0px;
    margin-top: 10px;
    
    height: fit-content;
}
.tin_noi_bat_date{
    position: relative;
    top:0px;
    margin-top: 10px;
}
.tin_noi_bat_content{
    position: relative;
    top:0px;
    margin-top: 10px;
    text-align: justify;
}
.tin_noi_bat_ngang{
    position: relative;
    width: 50%;
    height: auto;

    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tin_noi_bat_ngang_sub{
    position: relative;
    width: 100%;
    height: auto;
    
    margin: 10px;
    display: flex;
}
.tin_noi_bat_ngang_sub_img{
    position: relative;
    width: 40%;
    padding-top: calc(40% * 9 / 16);
    top: 0px;
    left: 0px;
    padding: 10px;
    border-radius: 12px;
    background-color:antiquewhite;
    overflow: hidden;
}
.tin_noi_bat_ngang_sub_img img{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.tin_noi_bat_ngang_sub_header_date{
    position: relative;
    padding: 10px;
}
.tin_noi_bat_ngang_sub_header{
    position: relative;
    top: 0px;
    margin-top: 10px;
}
.tin_noi_bat_ngang_sub_date{
    position: relative;
    top: 0px;
    margin-top: 10px;
}
.tin_khac{
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
    min-height: 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tin_khac_sub{
    position: relative;
    width: var(--width_sub_tin);
    margin-left: calc((100% - var(--so_sub_tin_mot_hang) * var(--width_sub_tin) )/(2 * var(--so_sub_tin_mot_hang) ));
    margin-right: calc((100% - var(--so_sub_tin_mot_hang) * var(--width_sub_tin) )/(2 * var(--so_sub_tin_mot_hang) ));
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    min-height: 400px;
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}   
.tin_khac_sub_img{
    position: relative;
    width: 100%;
    padding-top: calc(100% * 9 / 16);
    background-color:antiquewhite;
    overflow: hidden;
    border-radius: 12px;
}
.tin_khac_sub_img img{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.tin_khac_sub_header{
    position: relative;
    margin-top: 10px;
    top: 0px;
    left: 0px;
}
.tin_khac_sub_date{
    position: relative;
    margin-top: 10px;
    top: 0px;
    left: 0px;
}
.tin_khac_sub_content{
    position: relative;
    margin-top: 10px;
    top: 0px;
    left: 0px;
    text-align: justify;
}