:root{
    --mau_nen_windows_1:#ffffff;
    --mau_nen_page_1:#ffffff;
    --mau_nen_header_1:rgba(2, 48, 71, 1);
    /*--mau_chu_de_1:#f8f8f8;*/
    --mau_chu_de_1:rgba(2, 48, 71, 0.05);
    --mau_footer:rgba(2, 48, 71, 1);
    --color_chu_menu:#ffffff;
    --height_header:80px; /* chiều cao header, chiều cao logo = 0.8* chiều cao header */
    --width_logo:80px;
    --khoang_cach_element_menu_header:10px;
    --size_chu_menu:25px;
    --rong_menu:1200px;
    --le_menu:5%;   /* khoảng cách từ bên phải menu đến bên phải màn hình */
    --top_web_main:80%;
    --khoang_cach_giua_cac_section:70px;
    --thut_le_section_ve_chung_toi:0%;
    --height_section_ve_chung_toi:450px;
    --height_section_tin_tuc:800px;
    --height_section_danh_gia_khach_hang:400px;
    --ty_le_menu_section_ve_chung_toi:20%;/*tỷ lệ của thẻ menu trong section về chúng tôi*/
    --min_menu_section_ve_chung_toi:200px; /*bề rộng hoặc cao nhỏ nhất của thẻ menu trong section về chúng tôi */
    --ty_le_img_ve_chung_toi_content:40%;
    --height_section_dich_vu:400px;
    --height_section_san_pham:400px;
    --thut_le_dich_vu:0%;
    --height_dich_vu_sub:80%;
    --width_main_section:90%;
    --gap_element_san_pham:20px;
    --grip_row_element_san_pham: calc(10% - var(--gap_element_san_pham)) calc(20% - var(--gap_element_san_pham)) calc(70% - var(--gap_element_san_pham));
    --font_section_h2:'Josefin Sans', sans-serif;
    
}

/*--font_section_h2*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap'); /*font-family: 'Josefin Sans', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;600;800&display=swap'); /*font-family: 'Be Vietnam Pro', sans-serif;*/
