<!DOCTYPE html>
<html itemscope language="vi">
<head>
<meta charset="utf-8">
<title>trang chu</title>
<link rel="icon" href="../statics/img/photos/logo.png" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="../statics/css/style.css">
<script rel="preload"  src="../statics/js/animejs/lib/anime.min.js"></script>
<script rel="preload" src="../statics/js/main.js"></script>
</head>

<body>
<div class="header">
    <div class="logo">
        <img alt="logo" class="logo_img" loading="lazy">
    </div>
    <div id="menu_page" class="menu">
        <lu>
            <li><a href="index.html"  >TRANG CHU</a></li>
            <li><a href="ve_chung_toi.html" >VE CHUNG TOI</a></li>
            <li><a href="san_pham.html" >SAN PHAM</a></li>
            <li><a href="dich_vu.html" >DICH VU</a></li>
            <li><a href="tien_ich.html" >TIEN ICH</a></li>
            <li><a href="tin_tuc.html" >TIN TUC</a></li>
            <li><a href="tuyen_dung.html" >TUYEN DUNG</a></li>
            <li><a href="lien_he.html" >LIEN HE</a></li>
        </lu>
    </div>
    <img id="icon_menu" alt="">
</div>
<div class="main">
    <div class="slide_ngang hero">
        <div class="slide_sub hero_sub">
            <img id="slide1_img"  alt="" class="slide_img" loading="lazy">
            <div class="slide_content">
                <h2></h2>
                <p></p>
            </div>
        </div>
        <div class="slide_sub hero_sub">
            <img id="slide2_img"  alt="" class="slide_img" loading="lazy">
            <div class="slide_content">
                <h2></h2>
                <p></p>
            </div>
        </div>
        <div class="slide_sub hero_sub">
            <img id="slide3_img"  alt="" class="slide_img" loading="lazy"> 
            <div class="slide_content">
                <h2></h2>
                
            </div>
        </div>
        
    </div>
    <div class="main_web">
        <div class="khoang_cach_giua_cac_section ve_chung_toi_ss"></div>
        <div class="ve_chung_toi_x">
            <h2 class="ve_chung_toi_h2"><center>Về chúng tôi</center></h2>
            <div class="ve_chung_toi">
            <div class="ve_chung_toi_menu">
                <div class="menu_btn" onclick="my_menu_btn([ve_chung_toi,0,this])" >
                    <h3 >HÌNH THÀNH</h3>
                </div>
                
                <div class="menu_btn" onclick="my_menu_btn([ve_chung_toi,1,this])">
                    <h3 >XỨ MỆNH</h3>
                </div>
                <div class="menu_btn" onclick="my_menu_btn([ve_chung_toi,2,this])">
                    <h3 >TẦM NHÌN</h3>
                </div>
            </div>
            <div class="ve_chung_toi_content">
                <div class="ve_chung_toi_content_sub">
                    
                    <div class="ve_chung_toi_content_p">
                        
                        <p>CÔNG TY CỔ PHẦN THƯƠNG MẠI VÀ CƠ KHÍ GIAO THÔNG được thành lập trên ý tưởng của những người nhiều năm làm công tác giảng dạy, nghiên cứu, thiết kế, cùng những nhà sản xuất ô tô chuyên dùng, và những nhà thương mại hàng đầu Việt Nam. Với mục đích là đưa đến người tiêu dùng những sản phẩm ô tô chuyên dùng hoàn thiện nhất trong điều kiện của nước ta hiện nay: giá cả, chất lượng, phù hợp với điều kiện sử dụng và khai thác của Việt Nam...</p>
                        <br>
                        <p> Phương châm hoạt động : "SỰ HÀI LÒNG CỦA QUÝ KHÁCH HÀNG LÀ THÀNH CÔNG CỦA CHÚNG TÔI"</p>
                        <h3>LỊCH SỬ PHÁT TRIỂN</h3>
                        <br><br>
                        <lu>
                            <li>2009 Thành lập Công ty CP Thương mại và Xây dựng Á Đông</li>
                            <li>2010 Thành lập xưởng sản xuất ô tô tải và ô tô chuyên dùng tại Huyện Phú Xuyên, Hà Nội</li>
                            <li>2011 Đổi tên Công ty thành Công ty CP TM và Cơ khí Giao thông</li>
                            <li>2014 Chuyển xưởng sản xuất về Xã Liên Ninh, Huyện Thành Trì, Hà Nội</li>
                            <li>2015 Mở thêm xưởng sản xuất ô tô tải và ô tô chuyên dùng tại Hưng Yên với diện tích hơn 11000m2 và xưởng chuyên đóng các loại ô tô xi téc tại Hoài Đức, Hà Nội</li>
                            <li>2015 Trở thành đại lý phân phối chính thức của ô tô JAC</li>
                        </lu>
                    </div>
                    <div class="content_img">
                        <img src="../statics/img/photos/about_us_1.gif" alt="">
                    </div>
                </div>

                <div class="ve_chung_toi_content_sub">
                    
                    <div class="ve_chung_toi_content_p">
                        
                        <p>CÔNG TY CỔ PHẦN THƯƠNG MẠI VÀ CƠ KHÍ GIAO THÔNG luôn tự đặt ra cho mình mục tiêu trở thành một trong những đơn vị cung cấp các sản phẩm thùng xe tải, xe chuyên dùng uy tín với chất lượng và giá thành cạnh tranh nhất được khách hàng ngày càng tin tưởng. Chúng tôi luôn tâm niệm sản phẩm đưa tới tay khách hàng là sản phẩm hoàn thiện nhất không qua trung gian, tiết kiệm mọi chi phí cho khách hàng.</p>
                        <br>

                        <br><br>
                        <lu>
                            <li>Cung cấp các sản phẩm ô tô tải, ô tô chuyên dùng</li>
                            <li>Cung cấp các loại cần cẩu</li>
                            <li>Đóng mới thùng bệ, cải tạo, sửa chữa các loại ô tô chuyên dùng, ô tô tải</li>
                            <li>Tư vấn thiết kế các loại phương tiện GTVT</li>
                        </lu>
                    </div>
                    <div class="content_img">
                        <img src="../statics/img/photos/ve_chung_toi_2.png" alt="">
                    </div>
                </div>

                <div  class="ve_chung_toi_content_sub">
                    
                    <div class="ve_chung_toi_content_p">
                        <p>CÔNG TY CỔ PHẦN THƯƠNG MẠI VÀ CƠ KHÍ GIAO THÔNG hướng đến là nhà phân phối xe thành phẩm hàng đầu miền Bắc. Công ty sẽ phát triển thêm nhiều dịch vụ, ưu đãi cho khách hang.</p>
                        <br>
                        <p>Ngoài ra sẽ mở rọng them các chi nhánh trên toàn quốc, đưa những sản phẩm tốt nhất đến tay tất cả mọi người.</p>
                        <br>
                        <p>Chúng tôi luôn tâm niệm sản phẩm đưa tới tay khách hàng là sản phẩm hoàn thiện nhất không qua trung gian, tiết kiệm mọi chi phí cho khách hàng.</p>
                        <br>
                    </div>
                    <div class="content_img">
                        <img src="../statics/img/photos/ve_chung_toi_3.png" alt="">
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="khoang_cach_giua_cac_section"></div>
        <div class="tin_tuc_x">
            <h2 class="tin_tuc_h2">
                <center>TIN TỨC</center>
            </h2>
            <br><br>
            <div class="tin_tuc">
                
                <div class="tin_doc">
                    <div class="tin_doc_img"><img src="../statics/img/photos/slide3_img.jpg" alt=""></div>
                    <div class="tin_doc_content">
                        <br>
                        <p>Những làn sương mờ ảo vẫn còn phảng phất, bình minh vừa hé. Đột ngột tiếng gà gáy vang, phá tan sự yên tĩnh, mọi vật bừng tỉnh giấc. Đó là tiếng gáy của bạn gà trống nòi nhà em.
                            Con gà trống tía nhà em khoảng ba ký. Nhìn nó thật oai vệ. Cả thân hình trùm lên một bộ lông màu đot tía xen kẽ với màu xanh đen bóng mượt. Om sát đầu có mào đỏ thắm như trông thấy chú càng khỏe hơn. Hai con mắt tròn xoe nhìn qua nhìn lại trông chú rất lanh lợi. Cái mỏ chú nhỏ nhưng rất cứng. Cái đuôi nhỏ nhưng những lông đuôi dài và cong về phía sau, làm tôn thêm vẻ oai phong của chú. Mỗi lần chú đứng gáy, cổ chú vươn ra làm cho lớp da ở cổ căng ra đỏ như máu, đôi cánh xòe ra vỗ phành phạch “ ò ó o…”. Hai cái chân như hai thanh thép,được bọc bằng lớp sừng màu vàng đồng óng xếp lại.
                            Cách từ bàn chân lên phía trên là hai cái cựa chòi ra như hai mũi dao. Cũng chính nhờ cái cựa này mà chú đã chiến thắng đối phương rất nhiều trận.
                            Em rất quý bạn gà trống. Chú là chiếc đồng hồ báo thức chính xác nhất vào buổi sáng sớm đi làm của mọi người và đánh thức mình thức dậy để đi học đúng giờ.</p>
                    </div>
                </div>
                <div class="tin_ngang">
                    <div class="tin_van">
                        <img id="tin_van_img_1" class="tin_van_img" alt="">
                        <div class="tin_van_para">
                            <h4>
                                Chuyện chức phán sự ở đền Tàn Viên là 1 trong những chuyện hay, tiêu biểu của Truyền kỳ mạn lục.
                            </h4>
                            <p>21/09/2021</p>
                        </div>
                    </div>
                    <div class="tin_van">
                        <img id="tin_van_img_2" class="tin_van_img" alt="">
                        <div class="tin_van_para">
                            <h4>
                                Chuyện chức phán sự ở đền Tàn Viên là 1 trong những chuyện hay, tiêu biểu của Truyền kỳ mạn lục.
                            </h4>
                            <p>21/09/2021</p>
                        </div>
                    </div>
                    <div class="tin_van">
                        <img id="tin_van_img_3" class="tin_van_img" alt="">
                        <div class="tin_van_para">
                            <h4>
                                Chuyện chức phán sự ở đền Tàn Viên là 1 trong những chuyện hay, tiêu biểu của Truyền kỳ mạn lục.
                            </h4>
                            <p>21/09/2021</p>
                        </div>
                    </div>
                    <div class="tin_van">
                        <img id="tin_van_img_3" class="tin_van_img" alt="">
                        <div class="tin_van_para">
                            <h4>
                                Chuyện chức phán sự ở đền Tàn Viên là 1 trong những chuyện hay, tiêu biểu của Truyền kỳ mạn lục.
                            </h4>
                            <p>21/09/2021</p>
                        </div>
                    </div>
                    <div class="tin_van">
                        <img id="tin_van_img_3" class="tin_van_img" alt="">
                        <div class="tin_van_para">
                            <h4>
                                Chuyện chức phán sự ở đền Tàn Viên là 1 trong những chuyện hay, tiêu biểu của Truyền kỳ mạn lục.
                            </h4>
                            <p>21/09/2021</p>
                        </div>
                    </div>
                </div>
                <div class="tin_doc">
                    <div class="tin_doc_img"><img src="../statics/img/photos/quang_cao.jpg" alt=""></div>
                    <div class="tin_doc_content">
                        <br>
                        <p>Những làn sương mờ ảo vẫn còn phảng phất, bình minh vừa hé. Đột ngột tiếng gà gáy vang, phá tan sự yên tĩnh, mọi vật bừng tỉnh giấc. Đó là tiếng gáy của bạn gà trống nòi nhà em.
                            </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="khoang_cach_giua_cac_section"></div>
        <div class="dich_vu_x">
            <h2 class="dich_vu_h2"><center>Dịch vụ</center></h2>
            <div class=" slide_ngang dich_vu">
                <div class=" slide_sub dich_vu_sub">
                    <img id="dich_vu_img_1" class="dich_vu_img" src="../statics/img/photos/dich_vu_1.png" alt="">
                    <div class = "dich_vu_sub_content">
                        <h3><center>Thiết kế ô tô</center></h3>
                    </div>
                </div>
                <div class="dich_vu_sub">
                    <img id="dich_vu_img_2" class="dich_vu_img" src="../statics/img/photos/dich_vu_2.png" alt="">
                    <div class = "dich_vu_sub_content">
                        <h3><center>Sản xuất ô tô</center> </h3>
                    </div>
                </div>
                <div class="dich_vu_sub">
                    <img id="dich_vu_img_3" class="dich_vu_img" src="../statics/img/photos/dich_vu_3.png" alt="">
                    <div class = "dich_vu_sub_content">
                        <h3><center>Bảo dưỡng & sửa chữa</center></h3>
                    </div>
                </div>
                <div class="dich_vu_sub">
                    <img id="dich_vu_img_4" class="dich_vu_img" src="../statics/img/photos/dich_vu_4.png" alt="">
                    <div class = "dich_vu_sub_content">
                        <h3><center>Phụ tùng chính hãng</center></h3>
                    </div>
                </div>
                <div class="dich_vu_sub">
                    <img id="dich_vu_img_5" class="dich_vu_img" src="../statics/img/photos/dich_vu_5.png" alt="">
                    <div class = "dich_vu_sub_content">
                        <h3><center>Tư vấn khách hàng</center></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="khoang_cach_giua_cac_section"></div>
        <div class="san_pham_x">
            <h2 class="san_pham_h2">
                <center>Sản phẩm của chúng tôi</center>
            </h2>
            <div class="san_pham">
                <!--<div class="san_pham_menu">
                    <button class="san_pham_menu_btn"><h3>ĐƯỢC QUAN TÂM</h3></button>
                    <button class="san_pham_menu_btn"><h3>SẢN PHẨM MỚI</h3></button>
                    <button class="san_pham_menu_btn"><h3>XE CHUYÊN DÙNG</h3></button>
                </div>-->
                <div class="san_pham_list">
                    <div class="sp_list_sub">
                        <img class="sp_list_sub_img" src="..//statics/img/photos/hino_truck.png" alt="">
                        <h3><center>HINO</center></h3>
                    </div>
                    <div class="sp_list_sub">
                        <img class="sp_list_sub_img" src="..//statics/img/photos/jac_truck.jpg" alt="">
                        <h3><center>JAC</center></h3>
                    </div>
                    <div class="sp_list_sub">
                        <img class="sp_list_sub_img" src="..//statics/img/photos/howo_truck.jpg" alt="">
                        <h3><center>HOWO</center></h3>
                    </div>
                    <div class="sp_list_sub">
                        <img class="sp_list_sub_img" src="..//statics/img/photos/faw_truck.jpg" alt="">
                        <h3><center>FAW</center></h3>
                    </div>
                    <div class="sp_list_sub">
                        <img class="sp_list_sub_img" src="..//statics/img/photos/hyundai_truck.jpg" alt="">
                        <h3><center>HUYNDAI</center></h3>
                    </div>
                </div>
                <!--<div class="san_pham_content">
                    <div class="content_img">
                        <img id="sp_content_img_1" width="100px"  alt="sản phẩm 1" class="sp_content_img" />
                        
                    </div>
                    <div class="content_para">
                        <h3><center>Tên xe</center></h3>
                        <div>
                            <p>Các bạn có biết không,cha mẹ là cội nguồn sinh dưỡng của mỗi conngười.Chúng ta được sống và đang có mặt trên trái đất này không phải là do trờiđất tạo hóa ra mà là do công ơn sinh thành của cha mẹ.Người mẹ đã chín thángmười ngày cưu mang ta và sự cơ cực,khó nhọc lăn lội”bán mặt cho đất ,bánlưng cho trời”của người cha.Dù những cơn đau,cơn sốt cứ rình rập mãi nhưngngười cha vẫn không ngại gian lao để kiếm từng đồng,từng đồng một về muasữa,mua cháo,mua đồ cho con.Tất cả người cha,người mẹ đều đã chuẩn bị sẵn sàngđể đón nhân đứa con sắp được chào đời.Tuy không nói ra nhưng trong tâm,tronglòng của người vẫn mong đứa con của mình sẽ trở thành”con ngoan” củagia đình,”trò giỏi’của nhà trường,xã hội.Vậy mọi người có hiểu”conngoan, trò giỏi” là như thế nào không?
    
                                Con ngoan là đứa con luôn đem lại sự hài lòng và niềm vuicho cha mẹ chúng ta.Niềm vui ấy không phải là sự giàu sang,những thứ giá giá màngười con mang về cho cha mẹ mà niềm vui ấy chỉ đơn giản là khi thấy con mìnhhọc hành tốt,thấy con của mình hiểu để,thấy con khỏe mạnh mỗi lúc trưởngthành,thấy con biết vâng lời,thấy con biết yêu thương mọi người,biết kính trênnhường dưới và quan trọng là cha mẹ muốn con cái mình biết những đứa con là tấtcả đối với những người cha,người mẹ thì đích thực đối với cha mẹ đó đúng là mộtđứa con ngoan.
                                
                                Vậy các bạn hãy suy nghĩ lại về những hành động và việc làmcủa mình đi! Có khi nào bạn nhìn thấy chữ”buồn” trên khuôn mặt củamẹ,của cha chưa?Chắc chắn là chưa rồi vì khi chúng ta không để tâm đến nhữngsuy nghĩ của cha,của mẹ thì mới nhận ra được điều ấy.Thường ngày,chúng ta chỉthấy gương mặt tươi cười của cha mẹ mà chúng ta đâu biết rằng trên khuôn mặttươi cười ấy chứa đựng biết bao nhiêu sự cực khổ,phải “một nắng,haisương”làm lụng vất vả để cho chúng ta co một cuộc sông đầy đủ,sung túc.Tớimột ngay nào đó,khi bạn đang chập chững bước ra đời thì đôi lúc các bạn sẽ vấpngã,bạn khóc thì cha mẹ sẵn sàng đỡ bạn lên.Nhưng lại một ngày,từng bước châncủa bạn vững vàng hơn,bạn làm những việc làm sai trái thì cha mẹ lúc chỉ biếtkhuyên răng bạn thôi,họ không thể đánh bạn hay la mắng bạn như hồi nhỏ nữa vìhọ muốn cho bạn biết tự biết suy nghĩ về những việc làm sai trái cua mình và họcũng không thể đỡ bạn mỗi khi bạn vấp ngã được.
                                
                                Các bạn hãy nhìn nhận trực tiếp vào vấn đề đi.Tại sao chúngta cùng học một lớp,cùng học một trường,cùng trang lứa,cùng một giáo viên dạynhưng tại sao những người bạn của mình lại học rất giỏi còn mình học rấtkém?Cuối năm,các bạn vinh dự được lên bục nhận giấy khen còn mình thì ngồi ở dướinhìn lên và hỏi”Tại sao lại như vậy?”.Nhưng thời trôi qua,bạn lạiquên nó và bỏ nó vào quá khứ rồi tiếp tục cuộc sống hiện tại.Nhưng không có quákhứ làm sao có hiện tai cũng như không có cây làm sao có lá.Rồi một ngày,cha mẹgià yếu thì ai sẽ là người lo lắng,chăm sóc cho bạn nữa đây.Vì thế hạnh phúctrước mắt thì ta phải nắm giữ chúng đừng để nó đi mất rồi mới chạy đi tìm nóthi lúc đó đã quá muộn màng rồi.Trên đời,ai cũng có một lần được làm cha,làm mẹnên hãy nhớ”ai còn mẹ xin đừng làm mẹ khóc,đừng làm buồn lên mắt mẹ nghekhông”.
                                
                                Trò giỏi là người luôn vâng lời thầy cô,được thầy cô giáoyêu mến.Trước hết là phải  lễ phép với thầy cô giáo sau đó là thành tíchhọc tập cao,biết giúp đỡ bạn bè,chăm chỉ,cần cù và phải thực hiện tốt năm điềuBác Hồ dạy.
                                
                                Qua đây, các bạn nên ra sức học tập,tu dưỡng đạo đức,rènluyện bản thân để trở thành “con ngoan,trò giỏi”.Và hãy để câu nóinày ở trong tim của mình nhé.Dù chỉ một góc nhỏ của tim bạn thôi nhưng nó sẽgiúp bạn trong cả đoạn đường đời còn lại.</p>
                        </div>
                        
                        <button>Xem thêm</button>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="khoang_cach_giua_cac_section"></div>
        <div class="tieu_bieu_x">
            <h2><center>Sản phẩm mới</center></h2>
            <br><br>
            <div class=" box_waper chuyen_dung">
                <div class="chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img" >
                        <a href="../templates/iveco_tang_le.html"><img src="../statics/img/photos/Presentation1/iveco_tang_le_1.jpg" alt=""></a>
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <a href="../templates/iveco_tang_le.html"><h4><center>Xe IVECO TANG LỄ</center></h4></a>
                    </div>
                </div>
                <div class="chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide12.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 2</center></h4>
                    </div>
                </div>
                <div class=" chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide14.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 3</center></h4>
                    </div>
                </div>
                <div class="chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide13.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 4</center></h4>
                    </div>
                </div>
                <div class="chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide15.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 5</center></h4>
                    </div>
                </div>
                <div class="chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide10.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 6</center></h4>
                    </div>
                </div>
                <div class="chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide12.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 7</center></h4>
                    </div>
                </div>
                <div class=" chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide14.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4>
                            <center>Xe 8</center>
                        </h4>
                    </div>
                </div>
                
            </div>
            <div class ="xem_them_1">
                <div>
                    <img src="https://img.icons8.com/windows/32/ffffff/double-right.png"/>
                </div>
                <button>Xem thêm</button>
            </div>
        </div>
        <div class="khoang_cach_giua_cac_section"></div>
        <div class="tieu_bieu_x">
            <h2><center>Xe chuyên dùng</center></h2>
            <br><br>
            <div class=" box_waper chuyen_dung">
                <div class="chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide10.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 1</center></h4>
                    </div>
                </div>
                <div class="chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide12.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 2</center></h4>
                    </div>
                </div>
                <div class=" chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide14.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 3</center></h4>
                    </div>
                </div>
                <div class="chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide13.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 4</center></h4>
                    </div>
                </div>
                <div class="chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide15.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 5</center></h4>
                    </div>
                </div>
                <div class="chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide10.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 6</center></h4>
                    </div>
                </div>
                <div class="chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide12.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4><center>Xe 7</center></h4>
                    </div>
                </div>
                <div class=" chuyen_dung_sub">
                    <div class="tieu_bieu_sub_img">
                        <img src="../statics/img/photos/Presentation1/Slide14.PNG" alt="">
                    </div>
                    <div class="tieu_bieu_sub_para">
                        <h4>
                            <center>Xe 8</center>
                        </h4>
                    </div>
                </div>
                
            </div>
            <div class ="xem_them_1">
                <div>
                    <img src="https://img.icons8.com/windows/32/ffffff/double-right.png"/>
                </div>
                <button>Xem thêm</button>
            </div>
        </div>
        <div class="khoang_cach_giua_cac_section"></div>
        <div class="chung_toi_muon_x">
            <h3><center>Chúng tôi muốn</center> </h3>
            <br>
            <br>
            <div class="slide_ngang chung_toi_muon">
                <div class="slide_sub chung_toi_muon_sub">
                    <div class="chung_toi_muon_sub_img">
                        <img src="../statics/img/photos/chung_toi_muon_1.png" alt="">
                    </div>
                    <div class="chung_toi_muon_sub_para">
                        <h3>Luật và xử phạt</h3>
                    </div>
                </div>
                <div class="slide_sub chung_toi_muon_sub">
                    <div class="chung_toi_muon_sub_img">
                        <img src="../statics/img/photos/chung_toi_muon_2.png" alt="">
                    </div>
                    <div class="chung_toi_muon_sub_para">
                        <h3>Tài liệu cho lái xe</h3>
                    </div>
                </div>
                <div class="slide_sub chung_toi_muon_sub">
                    <div class="chung_toi_muon_sub_img">
                        <img src="../statics/img/photos/chung_toi_muon_3.png" alt="">
                    </div>
                    <div class="chung_toi_muon_sub_para">
                        <h3>Quy định đăng kiểm</h3>
                    </div>
                </div>
                <div class="slide_sub chung_toi_muon_sub">
                    <div class="chung_toi_muon_sub_img">
                        <img src="../statics/img/photos/chung_toi_muon_4.png" alt="">
                    </div>
                    <div class="chung_toi_muon_sub_para">
                        <h3>Tư vấn khách hàng</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="khoang_cach_giua_cac_section"></div>
        <div class="tai_sao_lua_chon_chung_toi_x">
            <h3><center>Tại sao lựa chọn chúng tôi</center> </h3>
            <br><br><br><br>
            <div class="tai_sao_lua_chon_chung_toi">
                <img src="../statics/img/photos/tai_sao_lua_chon_chung_toi_bgr.jpg" alt="">
                <div class="tai_sao_lua_chon_chung_toi_sub">
                    <div class="lua_chon"></div>
                    <div class="lua_chon"></div>
                    <div class="lua_chon"></div>
                    <div class="lua_chon"></div>
                </div>
            </div>
        </div>
        <div class="khoang_cach_giua_cac_section"></div>
        <div class="danh_gia_khach_hang_x">
            <h2><center>Đánh giá khách hàng</center> </h2>
            <br><br><br>
            <div class="danh_gia_khach_hang">
                <div class="danh_gia_khach_hang_sub">
                    <div class="avt_khach">
                        <div class="avt">
                            <img src="../statics/img/photos/avt_custom_1.jpg" alt="">
                        </div>
                        <div class="thong_tin_khach">
                            
                            <h4>KAG-Tiger</h4>
                           
                           
                            <h5>Garatructuyen</h5>
                            
                        </div>
                        <div class="sao">
                            
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                        </div>
                    </div>
                    <div class="khach_review">
                        <p>Gần đây, dư luận đang rất nóng với đề xuất thay đổi hệ thống kí tự của tiếng việt. Những luồng ý kiến đang xen nhau xuất hiện dày đặc trên các nguồn tin chính thống của báo chí và cả trên các trang mạng xã hội. Tâm lý chung vẫn là sự hoang mang và khó hiểu.</p>
                    </div>
                </div>
                <div class="danh_gia_khach_hang_sub">
                    <div class="avt_khach">
                        <div class="avt">
                            <img src="../statics/img/photos/avt_custom_1.jpg" alt="">
                        </div>
                        <div class="thong_tin_khach">
                            
                            <h4>KAG-Tiger</h4>
                           
                           
                            <h5>Garatructuyen</h5>
                            
                        </div>
                        <div class="sao">
                            
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                        </div>
                    </div>
                    <div class="khach_review">
                        <p>Gần đây, dư luận đang rất nóng với đề xuất thay đổi hệ thống kí tự của tiếng việt. Những luồng ý kiến đang xen nhau xuất hiện dày đặc trên các nguồn tin chính thống của báo chí và cả trên các trang mạng xã hội. Tâm lý chung vẫn là sự hoang mang và khó hiểu.</p>
                    </div>
                </div>
                <div class="danh_gia_khach_hang_sub">
                    <div class="avt_khach">
                        <div class="avt">
                            <img src="../statics/img/photos/avt_custom_1.jpg" alt="">
                        </div>
                        <div class="thong_tin_khach">
                            
                            <h4>KAG-Tiger</h4>
                           
                           
                            <h5>Garatructuyen</h5>
                            
                        </div>
                        <div class="sao">
                            
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                            <img src="https://img.icons8.com/fluency/48/000000/star.png"/>
                        </div>
                    </div>
                    <div class="khach_review">
                        <p>Gần đây, dư luận đang rất nóng với đề xuất thay đổi hệ thống kí tự của tiếng việt. Những luồng ý kiến đang xen nhau xuất hiện dày đặc trên các nguồn tin chính thống của báo chí và cả trên các trang mạng xã hội. Tâm lý chung vẫn là sự hoang mang và khó hiểu.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="khoang_cach_giua_cac_section"></div>
        <div class="doi_tac_x">
            <h2 class="doi_tac_h2">
                <center>Đối tác</center>
            </h2>
            <div class="doi_tac">
                <div class="doi_tac_sub">
                    <div class="doi_tac_sub_img"><img src="../statics/img/photos/faw_logo.jpg" alt="" class="doi_tac_img"></div>
                    <br>
                    
                </div>
                <div class="doi_tac_sub">
                    <div class="doi_tac_sub_img"><img src="../statics/img/photos/foton_logo.png" alt="" class="doi_tac_img"></div>
                </div>
                <div class="doi_tac_sub">
                    <div class="doi_tac_sub_img"><img src="../statics/img/photos/Hino_logo.png" alt="" class="doi_tac_img"></div>
                </div>
                <div class="doi_tac_sub">
                    <div class="doi_tac_sub_img"><img src="../statics/img/photos/huyndai_logo.jpg" alt="" class="doi_tac_img"></div>
                </div>
                <div class="doi_tac_sub">
                    <div class="doi_tac_sub_img"><img src="../statics/img/photos/jac_logo.jpg" alt="" class="doi_tac_img"></div>
                </div>
                <div class="doi_tac_sub">
                    <div class="doi_tac_sub_img"><img src="../statics/img/photos/Sinotruk_logo.jpg" alt="" class="doi_tac_img"></div>                  
                </div>
            </div>
        </div>
        <div class="khoang_cach_giua_cac_section"></div>
        <div class="lien_he_x">
            <h2 class="lien_he_h2">
                <center>Liên hệ</center>
            </h2>
            <br><br>
            <div class="lien_he">
                <div class="lien_he_my_map">
                    <div></div>
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1TYh4N7IFIgCdbnIFQhIuzrfe0oF-3qF7" width="50%" height="480"></iframe>
                </div>
                <div>
                    
                </div>
                

            </div>
        </div>
        <div class="khoang_cach_giua_cac_section"></div>
    </div>
    <div class="footer">
        <div class="ft_sub">
            <img class="ft_logo_img" alt="logo footer">
            <h3><center>Cơ khí giao thông</center> </h3>
            <p>Công ty là đơn vị dẫn đầu về thị phần xe tải hạng trung và hạng nặng trên thị trường với hệ thống 15 chi nhánh trải khắp toàn quốc hoạt động theo tiêu chuẩn 3s với sứ mệnh cung cấp giải pháp vận tải toàn diện cho cá nhân, doanh nghiệp vận tải hàng hoá Việt Nam.</p>
    
        </div>
        <div class="ft_sub">
            <h3>Liên hệ</h3>
            <br>
            <div class="ft_sub_2">
                <p>Trụ sở chính: BT1-07 Khu đô thị mới An Hưng, đường Tố Hữu, Phường Dương Nội, Quận Hà Đông, Thành Phố Hà Nội, Việt Nam</p>
                <br>
                <p>Chi nhánh Hà Nội: Điểm CN - TTCN Tiên Phương, thôn Sơn Đồng, X.Tiên Phương, H.Chương Mỹ, TP. Hà Nội</p>
                <br>
                <p> Tel: 0985.116.588</p>
                <br><br><br><br>
            </div>
        </div>
        <div class="ft_sub">
            <h3>Menu</h3>
            <br>
            <div class="ft_sub_col">
                <div>
                    <lu>
                    <li>Trang chủ</li>
                    <li>Sản phẩm</li>
                    <li>Dich vụ</li>
                    <li>Liên hệ</li>
                    <li>Tin tức</li>
                </lu>
                </div>
                <div>
                    <lu>
                    <li>Ô tô tải</li>
                    <li>Chuyên Dụng</li>
                    <li>Tiện ích</li>
                </lu>
                </div>
            </div>
        </div>
        <div class="ft_sub">
            <h3>   </h3>
            <br>
            <br>
            <br>
            <div>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fckgt.vn&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="80%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <div class="icon_social">
                <img src="https://img.icons8.com/color/48/000000/facebook-new.png"/>
                <img src="https://img.icons8.com/fluency/48/000000/youtube-play.png"/>
                <img src="https://img.icons8.com/color/50/000000/linkedin.png"/>
                <img src="https://img.icons8.com/color/48/000000/pinterest--v1.png"/>
            </div>
            
        </div>
    </div>
</div>
<script>
    animation();
    //top_main_web();
    //////////////////////////////////////////////////////////////////
    var list_ele_border =[".dich_vu",".san_pham",".tin_tuc",".doi_tac",".lien_he",".doi_tac_sub",".doi_tac_img"];
    elementBorder(list_ele_border);
    //set_footer(".footer");
    var ve_chung_toi=".ve_chung_toi_content_sub";
     menu_color("#menu_page");
</script>
</body>
</html>