<!DOCTYPE html>
<html itemscope language="vi">
<head>
<meta charset="utf-8">
<title>san pham</title>
<link rel="icon" href="../statics/img/photos/logo.png" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="../statics/css/style.css">
<script rel="preload"  src="../statics/js/animejs/lib/anime.min.js"></script>
<script rel="preload" src="../statics/js/main.js"></script>
</head>

<body>
<div class="header">
    <div class="logo">
        <img alt="logo" class="logo_img" loading="lazy">
    </div>
    <div id="menu_page" class="menu">
        <lu>
            <li><a href="index.html"  >TRANG CHU</a></li>
            <li><a href="ve_chung_toi.html" >VE CHUNG TOI</a></li>
            <li><a href="san_pham.html" >SAN PHAM</a></li>
            <li><a href="dich_vu.html" >DICH VU</a></li>
            <li><a href="tien_ich.html" >TIEN ICH</a></li>
            <li><a href="tin_tuc.html" >TIN TUC</a></li>
            <li><a href="tuyen_dung.html" >TUYEN DUNG</a></li>
            <li><a href="lien_he.html" >LIEN HE</a></li>
        </lu>
    </div>
    <img id="icon_menu" alt="">
</div>
<div class="main">
    <div class="slide_ngang hero">
        <div class="slide_sub hero_sub">
            <img id="slide1_img"  alt="" class="slide_img" loading="lazy">
            <div class="slide_content">
                <h2></h2>
                <p></p>
            </div>
        </div>
        <div class="slide_sub hero_sub">
            <img id="slide2_img"  alt="" class="slide_img" loading="lazy">
            <div class="slide_content">
                <h2></h2>
                <p></p>
            </div>
        </div>
        <div class="slide_sub hero_sub">
            <img id="slide3_img"  alt="" class="slide_img" loading="lazy"> 
            <div class="slide_content">
                <h2></h2>
                
            </div>
        </div>
        
    </div>
    <div class="main_web">
        <div class="khoang_cach_giua_cac_section"></div>
            <div class="thong_tin_san_pham_x">
                <h2><center>IVECO TANG LỄ</center></h2>
                <div class="thong_tin_san_pham">
                    <div class="anh_ten_sp">
                        <div class="anh_img">
                            <img src="../statics/img/photos/Presentation1/iveco_tang_le_1.jpg" alt="">
                        </div>
                        <div class="ten_sp">
                            <h3>IVECO TANG LỄ</h3>
                            <br><br>
                            <p>
                                IVECO DAILY sản phẩm Mini Bus cao cấp Châu Âu, tiện nghi sang trọng đáp ứng mọi nhu cầu của khách hàng. IVECO DAILY được công ty CKGT thiết kế chuyển đổi mục địch sang làm xe chuyên chở tang lễ. Phù hợp cho các...
                            </p>
                        </div>
                    </div>
                    <div class="thong_so_sp">
                        <div class=" menu_thong_so_sp">
                            <ul>
                                <li><button onclick="my_menu_btn2([content_thong_so_sub,0,this])">THÔNG TIN SẢN PHẨM</button></li>
                                <li><button onclick="my_menu_btn2([content_thong_so_sub,1,this])">THÔNG TIN THANH TOÁN</button></li>
                                <li><button onclick="my_menu_btn2([content_thong_so_sub,2,this])">CHÍNH SÁCH VẬN CHUYỂN</button></li>
                            </ul>
                        </div>
                        <div class="slide_ngang content_thong_so">
                            <div id="thong_tin_san_pham" class=" slide_sub content_thong_so_sub">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Thông số</th>
                                            <th>Đơn vị</th>
                                            <th>Gía trị</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Kích thước bao (dài x rộng x cao)</td>
                                            <td>mm</td>
                                            <td>7080x2060x2650</td>
                                        </tr>
                                        <tr>
                                            <td>Chiều dài cơ sở</td>
                                            <td>mm</td>
                                            <td>2933</td>
                                        </tr>
                                        <tr>
                                            <td>Chiều dài đầu xe/ đuôi xe</td>
                                            <td>mm</td>
                                            <td>1002/3145</td>
                                        </tr>
                                        <tr>
                                            <td>Vết bánh xe trước/sau</td>
                                            <td>mm</td>
                                            <td>1736/1720</td>
                                        </tr>
                                        <tr>
                                            <td>Vết bánh xe sau phía ngoài (Wt)</td>
                                            <td>mm</td>
                                            <td>1770</td>
                                        </tr>
                                        <tr>
                                            <td>Chiều rộng ca bin</td>
                                            <td>mm</td>
                                            <td>2095</td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                            <div id="thong_tin_thanh_toan" class=" slide_sub content_thong_so_sub">
                                <p>Bước 1: Truy cập website để tìm hiểu về sản phẩm công ty hiện có.</p>
                                <br>
                                <p>Bước 2: Liên hệ với chúng tôi qua Hotline để được tư vấn và hướng dẫn mua hàng, ký hợp đồng và giao nhận xe.</p>
                                <br>
                                <p>HÌNH THỨC THANH TOÁN: Giá trị hợp đồng được thanh toán thành 02 lần: Lần 01: Sau khi ký hợp đồng bên mua thanh toán 40% giá trị hợp đồng cùng bảo lãnh thanh toán của ngân hàng (nếu khách hàng có nhu cầu mua trả góp của ngân hàng). Lần 02: Bên mua hoặc ngân hàng tài trợ cho bên mua thanh toán 70% giá trị hợp đồng còn lại, bên bán bàn giao xe cho bên mua. Thanh toán chuyển khoản 100% bằng đồng Việt Nam. Trân trọng cảm ơn Quý khách!</p>
                            </div>
                            <div id="chinh_sach_van_chuyen" class=" slide_sub content_thong_so_sub">
                                <p>Với mong muốn mang lại sự hài lòng cho quý khách khi mua hàng, chúng tôi có những quy định trong vận chuyển, nhằm đảm bảo rằng những sản phẩm quý khách mua là sản phẩm mà vừa ý nhất.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="khoang_cach_giua_cac_section"></div>
    </div>
    <div class="footer">
        <div class="ft_sub">
            <img class="ft_logo_img" alt="logo footer">
            <h3><center>Cơ khí giao thông</center> </h3>
            <p>Công ty là đơn vị dẫn đầu về thị phần xe tải hạng trung và hạng nặng trên thị trường với hệ thống 15 chi nhánh trải khắp toàn quốc hoạt động theo tiêu chuẩn 3s với sứ mệnh cung cấp giải pháp vận tải toàn diện cho cá nhân, doanh nghiệp vận tải hàng hoá Việt Nam.</p>
    
        </div>
        <div class="ft_sub">
            <h3>Liên hệ</h3>
            <br>
            <div class="ft_sub_2">
                <p>Trụ sở chính: BT1-07 Khu đô thị mới An Hưng, đường Tố Hữu, Phường Dương Nội, Quận Hà Đông, Thành Phố Hà Nội, Việt Nam</p>
                <br>
                <p>Chi nhánh Hà Nội: Điểm CN - TTCN Tiên Phương, thôn Sơn Đồng, X.Tiên Phương, H.Chương Mỹ, TP. Hà Nội</p>
                <br>
                <p> Tel: 0985.116.588</p>
                <br><br><br><br>

    
                
            </div>
        </div>
        <div class="ft_sub">
            <h3>Menu</h3>
            <br>
            <div class="ft_sub_col">
                <div>
                    <lu>
                    <li>Trang chủ</li>
                    <li>Sản phẩm</li>
                    <li>Dich vụ</li>
                    <li>Liên hệ</li>
                    <li>Tin tức</li>
                </lu>
                </div>
                <div>
                    <lu>
                    <li>Ô tô tải</li>
                    <li>Chuyên Dụng</li>
                    <li>Tiện ích</li>
                </lu>
                </div>
            </div>
        </div>
        <div class="ft_sub">
            <h3>   </h3>
            <br>
            <br>
            <br>
            <div>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fckgt.vn&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="80%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <div class="icon_social">
                <img src="https://img.icons8.com/color/48/000000/facebook-new.png"/>
                <img src="https://img.icons8.com/fluency/48/000000/youtube-play.png"/>
                <img src="https://img.icons8.com/color/50/000000/linkedin.png"/>
                <img src="https://img.icons8.com/color/48/000000/pinterest--v1.png"/>
            </div>
        </div>
    </div>
</div>
<script>
    animation();
    //top_main_web();
    //////////////////////////////////////////////////////////////////
    //var list_ele_border =[".dich_vu",".san_pham",".tin_tuc",".doi_tac",".lien_he",".doi_tac_sub",".doi_tac_img"];
    //elementBorder(list_ele_border);
    //set_footer(".footer");
    var content_thong_so_sub=".content_thong_so_sub";
     menu_color("#menu_page");
</script>
</body>
</html>