<!DOCTYPE html>
<html itemscope language="vi">
<head>
<meta charset="utf-8">
<title>tin tuc</title>
<link rel="icon" href="../statics/img/photos/logo.png" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="../statics/css/style.css">
<link rel="stylesheet" href="../statics/css/style_2.css">
<script rel="preload"  src="../statics/js/animejs/lib/anime.min.js"></script>
<script rel="preload" src="../statics/js/main.js"></script>
</head>

<body>
<div class="header">
    <div class="logo">
        <img alt="logo" class="logo_img" loading="lazy">
    </div>
    <div id="menu_page" class="menu">
        <lu>
            <li><a href="index.html"  >TRANG CHU</a></li>
            <li><a href="ve-chung-toi.html" >VE CHUNG TOI</a></li>
            <li><a href="san-pham.html" >SAN PHAM</a></li>
            <li><a href="dich-vu.html" >DICH VU</a></li>
            <li><a href="tien-ich.html" >TIEN ICH</a></li>
            <li><a href="tin-tuc.html" >TIN TUC</a></li>
            <li><a href="tuyen-dung.html" >TUYEN DUNG</a></li>
            <li><a href="lien-he.html" >LIEN HE</a></li>
        </lu>
    </div>
    <img id="icon_menu" alt="">
</div>
<div class="main">
    <div class="slide_ngang hero">
        <div class="slide_sub hero_sub">
            <img id="slide1_img"  alt="" class="slide_img" loading="lazy">
            <div class="slide_content">
                <h2></h2>
                <p></p>
            </div>
        </div>
        <div class="slide_sub hero_sub">
            <img id="slide2_img"  alt="" class="slide_img" loading="lazy">
            <div class="slide_content">
                <h2></h2>
                <p></p>
            </div>
        </div>
        <div class="slide_sub hero_sub">
            <img id="slide3_img"  alt="" class="slide_img" loading="lazy"> 
            <div class="slide_content">
                <h2></h2>
                
            </div>
        </div>
        
    </div>
    <div class="main_web">
        <div class="khoang_cach_giua_cac_section"></div>
            <div class="main_tin_tuc_x">
                <h2></h2>
                <br><br><br>
                <div class="main_tin_tuc">
                    <h3>Tin nổi bật</h3>
                    <div class="tin_noi_bat">
                        
                        <div class="tin_noi_bat_doc">
                            <div class="tin_noi_bat_img">
                                <img src="../statics/img/photos/tin_tuc/ban-le.webp" alt="">
                            </div>
                            <div class="tin_noi_bat_header">
                                <h4>Sản xuất và cung cấp trọn bộ bản lề nhôm cửa thùng kín</h4>
                            </div>
                            <div class="tin_noi_bat_date">
                                <p>15/07/2021</p>
                            </div>
                            <div class="tin_noi_bat_content">
                                <p>Sản phẩm bản lề cửa thùng xe tải của công ty được sản xuất trên dây chuyền hiện đại, với độ chính xác cao, an toàn và mang tính thẩm mỹ cao.</p>
                            </div>
                        </div>
                        <div class="tin_noi_bat_ngang">
                            <div class="tin_noi_bat_ngang_sub">
                                <div class="tin_noi_bat_ngang_sub_img">
                                    <img src="../statics/img/photos/tin_tuc/mo_phong_3d_o_to.jpg" alt="">
                                </div>
                                <div class="tin_noi_bat_ngang_sub_header_date">
                                    <div class="tin_noi_bat_ngang_sub_header">
                                        <h4>Sản xuất và cung cấp trọn bộ bản lề nhôm cửa thùng kín</h4>
                                    </div>
                                    <div class="tin_noi_bat_ngang_sub_date">
                                        <p>15/07/2021</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tin_noi_bat_ngang_sub">
                                <div class="tin_noi_bat_ngang_sub_img">
                                    <img src="../statics/img/photos/tin_tuc/thiet-ke-xe-nguyen-chiec.jpg" alt="">
                                </div>
                                <div class="tin_noi_bat_ngang_sub_header_date">
                                    <div class="tin_noi_bat_ngang_sub_header">
                                        <h4>Dịch vụ thiết kế và đóng mới ô tô</h4>
                                    </div>
                                    <div class="tin_noi_bat_ngang_sub_date">
                                        <p>15/07/2021</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tin_noi_bat_ngang_sub">
                                <div class="tin_noi_bat_ngang_sub_img">
                                    <img src="../statics/img/photos/tin_tuc/pt2.jpg" alt="">
                                </div>
                                <div class="tin_noi_bat_ngang_sub_header_date">
                                    <div class="tin_noi_bat_ngang_sub_header">
                                        <h4>Phong thủy ô tô ảnh hưởng đến sinh mệnh và tài lộc</h4>
                                    </div>
                                    <div class="tin_noi_bat_ngang_sub_date">
                                        <p>15/07/2021</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="khoang_cach_giua_cac_section"></div>
                    <h3>Tin Khác</h3>
                    <br>
                    <div class="tin_khac">
                        <div class="tin_khac_sub">
                            <div class="tin_khac_sub_img">
                                <img src="../statics/img/photos/tin_tuc/attp.jpg" alt="">
                            </div>
                            <div class="tin_khac_sub_header">
                                <h4>Ô tô kiểm tra, Phân tích nhanh Thực phẩm</h4>
                            </div>
                            <div class="tin_khac_sub_date">
                                <p>28/09/2021</p>
                            </div>
                            <div class="tin_khac_sub_content">
                                <p>Đây là dòng xe lưu động được trang bị hiện đại, có khả năng kiểm tra nhanh, sàng lọc, lấy mẫu tại chỗ; hỗ trợ hiệu quả cho lực lượng phản ứng nhanh trong công tác thanh, kiểm tra, đánh giá vệ sinh an toàn thực phẩm trên địa bàn thủ đô.</p>
                            </div>
                        </div>
                        <div class="tin_khac_sub">
                            <div class="tin_khac_sub_img">
                                <img src="../statics/img/photos/tin_tuc/phau-thuat.png" alt="">
                            </div>
                            <div class="tin_khac_sub_header">
                                <h4>Ứng dụng công nghệ mới 3D trong thiết kế ô tô phẫu thuật lưu động</h4>
                            </div>
                            <div class="tin_khac_sub_date">
                                <p>28/09/2021</p>
                            </div>
                            <div class="tin_khac_sub_content">
                                <p>Công nghệ thiết kế 3D là một thành tựu tiên tiến nhất của công nghệ phần mềm và máy tính, mang lại những hiệu ứng to lớn trong...</p>
                            </div>
                        </div>
                        <div class="tin_khac_sub">
                            <div class="tin_khac_sub_img">
                                <img src="../statics/img/photos/tin_tuc/xe.jpg" alt="">
                            </div>
                            <div class="tin_khac_sub_header">
                                <h4>Hyundai ra mắt xe tải nhẹ kết nối Bluetooth ở Việt Nam</h4>
                            </div>
                            <div class="tin_khac_sub_date">
                                <p>28/09/2021</p>
                            </div>
                            <div class="tin_khac_sub_content">
                                <p>Dòng xe tải Hyundai Porter H-100 sở hữu những tiện nghi như kết nối Bluetooth/USB, hệ thống điều hòa công suất cao hay ngăn để đồ phía trước có chức năng làm mát.</p>
                            </div>
                        </div>
                        <div class="tin_khac_sub">
                            <div class="tin_khac_sub_img">
                                <img src="../statics/img/photos/tin_tuc/mua_hino.jpg" alt="">
                            </div>
                            <div class="tin_khac_sub_header">
                                <h4>CHƯƠNG TRÌNH HỖ TRỢ DẦU CHO KHÁCH HÀNG MUA XE HINO TIÊU CHUẨN EURO 4</h4>
                            </div>
                            <div class="tin_khac_sub_date">
                                <p>28/09/2021</p>
                            </div>
                            <div class="tin_khac_sub_content">
                                <p>Từ ngày 01/06/2018, khách hàng mua xe thuộc dòng xe tải mới tiêu chuẩn Euro 4 của Hino Motors Việt Nam sẽ được hỗ trợ dầu...</p>
                            </div>
                        </div>
                        <div class="tin_khac_sub">
                            <div class="tin_khac_sub_img">
                                <img src="../statics/img/photos/tin_tuc/05-vaxq.jpg" alt="">
                            </div>
                            <div class="tin_khac_sub_header">
                                <h4>Quy định mới khiến nhiều loại ô tô tăng giá</h4>
                            </div>
                            <div class="tin_khac_sub_date">
                                <p>28/09/2021</p>
                            </div>
                            <div class="tin_khac_sub_content">
                                <p>Giá xe tải và xe khách từ 16 chỗ trở lên sắp tới có thể sẽ tăng thêm 15-20% do không được lùi thời hạn thực hiện tiêu...</p>
                            </div>
                        </div>
                        <div class="tin_khac_sub">
                            <div class="tin_khac_sub_img">
                                <img src="../statics/img/photos/tin_tuc/vin.jpg" alt="">
                            </div>
                            <div class="tin_khac_sub_header">
                                <h4>Vinfast công bố 20 mẫu xe hơi trưng cầu ý kiến người Việt</h4>
                            </div>
                            <div class="tin_khac_sub_date">
                                <p>28/09/2021</p>
                            </div>
                            <div class="tin_khac_sub_content">
                                <p>TTO - Vinfast công bố 20 mẫu thiết kế cho dòng xe Sedan và SUV để khởi động cuộc thi bình chọn mẫu xe hơi được yêu thích nhất.</p>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        <div class="khoang_cach_giua_cac_section"></div>
    </div>
    <div class="footer">
        <div class="ft_sub">
            <img class="ft_logo_img" alt="logo footer">
            <h3><center>Cơ khí giao thông</center> </h3>
            <p>Công ty là đơn vị dẫn đầu về thị phần xe tải hạng trung và hạng nặng trên thị trường với hệ thống 15 chi nhánh trải khắp toàn quốc hoạt động theo tiêu chuẩn 3s với sứ mệnh cung cấp giải pháp vận tải toàn diện cho cá nhân, doanh nghiệp vận tải hàng hoá Việt Nam.</p>
    
        </div>
        <div class="ft_sub">
            <h3>Liên hệ</h3>
            <br>
            <div class="ft_sub_2">
                <p>Trụ sở chính: BT1-07 Khu đô thị mới An Hưng, đường Tố Hữu, Phường Dương Nội, Quận Hà Đông, Thành Phố Hà Nội, Việt Nam</p>
                <br>
                <p>Chi nhánh Hà Nội: Điểm CN - TTCN Tiên Phương, thôn Sơn Đồng, X.Tiên Phương, H.Chương Mỹ, TP. Hà Nội</p>
                <br>
                <p> Tel: 0985.116.588</p>
                <br><br><br><br>

    
                
            </div>
        </div>
        <div class="ft_sub">
            <h3>Menu</h3>
            <br>
            <div class="ft_sub_col">
                <div>
                    <lu>
                    <li>Trang chủ</li>
                    <li>Sản phẩm</li>
                    <li>Dich vụ</li>
                    <li>Liên hệ</li>
                    <li>Tin tức</li>
                </lu>
                </div>
                <div>
                    <lu>
                    <li>Ô tô tải</li>
                    <li>Chuyên Dụng</li>
                    <li>Tiện ích</li>
                </lu>
                </div>
            </div>
        </div>
        <div class="ft_sub">
            <h3>   </h3>
            <br>
            <br>
            <br>
            <div>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fckgt.vn&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="80%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <div class="icon_social">
                <img src="https://img.icons8.com/color/48/000000/facebook-new.png"/>
                <img src="https://img.icons8.com/fluency/48/000000/youtube-play.png"/>
                <img src="https://img.icons8.com/color/50/000000/linkedin.png"/>
                <img src="https://img.icons8.com/color/48/000000/pinterest--v1.png"/>
            </div>
        </div>
    </div>
</div>
<script>
    animation();
    //top_main_web();
    //////////////////////////////////////////////////////////////////
    //var list_ele_border =[".dich_vu",".san_pham",".tin_tuc",".doi_tac",".lien_he",".doi_tac_sub",".doi_tac_img"];
    //elementBorder(list_ele_border);
    //set_footer(".footer");
    //var ve_chung_toi=".ve_chung_toi_content_sub";
     menu_color("#menu_page");
</script>
</body>
</html>