<!DOCTYPE html>
<html itemscope language="vi">
<head>
<meta charset="utf-8">
<title>ve chung toi</title>
<link rel="icon" href="../statics/img/photos/logo.png" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="stylesheet" href="../statics/css/style.css">
<link rel="stylesheet" href="../statics/css/style_2.css">
<script rel="preload"  src="../statics/js/animejs/lib/anime.min.js"></script>
<script rel="preload" src="../statics/js/main.js"></script>
</head>

<body>
<div class="header">
    <div class="logo">
        <img alt="logo" class="logo_img" loading="lazy">
    </div>
    <div id="menu_page" class="menu">
        <lu>
            <li><a href="index.html"  >TRANG CHU</a></li>
            <li><a href="ve-chung-toi.html" >VE CHUNG TOI</a></li>
            <li><a href="san-pham.html" >SAN PHAM</a></li>
            <li><a href="dich-vu.html" >DICH VU</a></li>
            <li><a href="tien-ich.html" >TIEN ICH</a></li>
            <li><a href="tin-tuc.html" >TIN TUC</a></li>
            <li><a href="tuyen-dung.html" >TUYEN DUNG</a></li>
            <li><a href="lien-he.html" >LIEN HE</a></li>
        </lu>
    </div>
    <img id="icon_menu" alt="">
</div>
<div class="main">
    <div class="slide_ngang hero">
        <div class="slide_sub hero_sub">
            <img id="slide1_img"  alt="" class="slide_img" loading="lazy">
            <div class="slide_content">
                <h2></h2>
                <p></p>
            </div>
        </div>
        <div class="slide_sub hero_sub">
            <img id="slide2_img"  alt="" class="slide_img" loading="lazy">
            <div class="slide_content">
                <h2></h2>
                <p></p>
            </div>
        </div>
        <div class="slide_sub hero_sub">
            <img id="slide3_img"  alt="" class="slide_img" loading="lazy"> 
            <div class="slide_content">
                <h2></h2>
                
            </div>
        </div>
        
    </div>
    <div class="main_web">
        <div class="khoang_cach_giua_cac_section khoang_cach_noi_dung_ve_chung_toi_footer"></div>
            <div class="noi_dung_ve_chung_toi_x">
                <h2><center>Về chúng tôi</center></h2>
                <br><br><br>
                <div class="noi_dung_ve_chung_toi">
                    <div class="ve_chung_toi_sub_1">
                        <div class="ve_chung_toi_sub_1_h3">
                            <h3>Qúa trình hình thành</h3>
                        </div>
                        <div class="ve_chung_toi_sub_1_img">
                            <img src="../statics/img/svg/Picture5.svg" alt="">
                        </div>
                    </div>
                    <div class="ve_chung_toi_sub_2">
                        <div class="ve_chung_toi_sub_2_content">
                            <p>        CÔNG TY CỔ PHẦN THƯƠNG MẠI VÀ CƠ KHÍ GIAO THÔNG được thành lập trên ý tưởng của những người nhiều năm làm công tác giảng dạy, nghiên cứu, thiết kế, cùng những nhà sản xuất ô tô chuyên dùng, và những nhà thương mại hàng đầu Việt Nam. Với mục đích là đưa đến người tiêu dùng những sản phẩm ô tô chuyên dùng hoàn thiện nhất trong điều kiện của nước ta hiện nay: giá cả, chất lượng, phù hợp với điều kiện sử dụng và khai thác của Việt Nam...
                            </p>
                            <p>        Phương châm hoạt động : "SỰ HÀI LÒNG CỦA QUÝ KHÁCH HÀNG LÀ THÀNH CÔNG CỦA CHÚNG TÔI"
                            </p>
                        </div>
                        <div class="ve_chung_toi_sub_2_img">
                            <img src="../statics/img/photos/about_us_1.gif" alt="">
                        </div>
                    </div>
                    <div class="ve_chung_toi_sub_3">
                        <div class="ve_chung_toi_sub_3_img">
                            <img src="../statics/img/photos/ve_chung_toi_2.png" alt="">
                        </div>
                        <div class="ve_chung_toi_sub_3_content">
                            <h4>Lịch sử phát triểm</h4>
                            <ul>
                                <li>2009 Thành lập Công ty CP Thương mại và Xây dựng Á Đông
                                </li>
                                <li>2010 Thành lập xưởng sản xuất ô tô tải và ô tô chuyên dùng tại Huyện Phú Xuyên, Hà Nội
                                </li>
                                <li>2011 Đổi tên Công ty thành Công ty CP TM và Cơ khí Giao thông
                                </li>
                                <li>2014 Chuyển xưởng sản xuất về Xã Liên Ninh, Huyện Thành Trì, Hà Nội
                                </li>
                                <li>2015 Mở thêm xưởng sản xuất ô tô tải và ô tô chuyên dùng tại Hưng Yên với diện tích hơn 11000m2 và xưởng chuyên đóng các loại ô tô xi téc tại Hoài Đức, Hà Nội
                                </li>
                                <li>2015 Trở thành đại lý phân phối chính thức của ô tô JAC</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ve_chung_toi_sub_4">
                        <div class="sub_sub">
                            <div class="sub_sub_header">
                                <div class="sub_sub_header_h3">
                                    <h3>
                                        <center>Nhiệm vụ</center>
                                    </h3>
                                </div>
                                <div class="sub_sub_header_img">
                                    <img src="../statics/img/svg/Picture6.svg" alt="">
                                </div>
                            </div>
                            <div class="sub_sub_content">
                                <p>CÔNG TY CỔ PHẦN THƯƠNG MẠI VÀ CƠ KHÍ GIAO THÔNG luôn tự đặt ra cho mình mục tiêu trở thành một trong những đơn vị cung cấp các sản phẩm thùng xe tải, xe chuyên dùng uy tín với chất lượng và giá thành cạnh tranh nhất được khách hàng ngày càng tin tưởng. Chúng tôi luôn tâm niệm sản phẩm đưa tới tay khách hàng là sản phẩm hoàn thiện nhất không qua trung gian, tiết kiệm mọi chi phí cho khách hàng.
                                </p>
                                <ul>
                                    <li>Cung cấp các loại ô tô tải, ô tô chuyên dùng
                                    </li>
                                    <li>Cung cấp các loại cần cẩu
                                    </li>
                                    <li>Đóng mớ thùng bệ, cải tạo, sửa chữa các loại ô tô chuyên dùng, ô tô tải
                                    </li>
                                    <li>Tư vấn, thiết kế các loại phương tiện GTVT</li>
                                </ul>
                            </div>
                            <div class="sub_sub_1_img">
                                <img src="../statics/img/photos/ve_chung_toi_3.png" alt="">
                            </div>
                        </div>
                        <div class="sub_sub">
                            <div class="sub_sub_header">
                                <div class="sub_sub_header_h3">
                                    <h3>
                                        <center>Tầm nhìn</center>
                                    </h3>
                                </div>
                                <div class="sub_sub_header_img">
                                    <img src="../statics/img/svg/Picture7.svg" alt="">
                                </div>
                            </div>
                            <div class="sub_sub_content">
                                <p>CÔNG TY CỔ PHẦN THƯƠNG MẠI VÀ CƠ KHÍ GIAO THÔNG hướng đến là nhà phân phối xe thành phẩm hàng đầu miền Bắc. Công ty sẽ phát triển thêm nhiều dịch vụ, ưu đãi cho khách hang</p>
                                <p>Ngoài ra sẽ mở rọng them các chi nhánh trên toàn quốc, đưa những sản phẩm tốt nhất đến tay tất cả mọi người.
                                </p>
                                <br>
                                <p>Chúng tôi luôn tâm niệm sản phẩm đưa tới tay khách hàng là sản phẩm hoàn thiện nhất không qua trung gian, tiết kiệm mọi chi phí cho khách hàng.
                                </p>
                            </div>
                            <div class="sub_sub_1_img">
                                <img src="../statics/img/photos/ve_chung_toi_4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="khoang_cach_giua_cac_section khoang_cach_noi_dung_ve_chung_toi_footer" ></div>
    </div>
    <div class="footer">
        <div class="ft_sub">
            <img class="ft_logo_img" alt="logo footer">
            <h3><center>Cơ khí giao thông</center> </h3>
            <p>Công ty là đơn vị dẫn đầu về thị phần xe tải hạng trung và hạng nặng trên thị trường với hệ thống 15 chi nhánh trải khắp toàn quốc hoạt động theo tiêu chuẩn 3s với sứ mệnh cung cấp giải pháp vận tải toàn diện cho cá nhân, doanh nghiệp vận tải hàng hoá Việt Nam.</p>
    
        </div>
        <div class="ft_sub">
            <h3>Liên hệ</h3>
            <br>
            <div class="ft_sub_2">
                <p>Trụ sở chính: BT1-07 Khu đô thị mới An Hưng, đường Tố Hữu, Phường Dương Nội, Quận Hà Đông, Thành Phố Hà Nội, Việt Nam</p>
                <br>
                <p>Chi nhánh Hà Nội: Điểm CN - TTCN Tiên Phương, thôn Sơn Đồng, X.Tiên Phương, H.Chương Mỹ, TP. Hà Nội</p>
                <br>
                <p> Tel: 0985.116.588</p>
                <br><br><br><br>

    
                
            </div>
        </div>
        <div class="ft_sub">
            <h3>Menu</h3>
            <br>
            <div class="ft_sub_col">
                <div>
                    <lu>
                    <li>Trang chủ</li>
                    <li>Sản phẩm</li>
                    <li>Dich vụ</li>
                    <li>Liên hệ</li>
                    <li>Tin tức</li>
                </lu>
                </div>
                <div>
                    <lu>
                    <li>Ô tô tải</li>
                    <li>Chuyên Dụng</li>
                    <li>Tiện ích</li>
                </lu>
                </div>
            </div>
        </div>
        <div class="ft_sub">
            <h3>   </h3>
            <br>
            <br>
            <br>
            <div>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fckgt.vn&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="80%" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <div class="icon_social">
                <img src="https://img.icons8.com/color/48/000000/facebook-new.png"/>
                <img src="https://img.icons8.com/fluency/48/000000/youtube-play.png"/>
                <img src="https://img.icons8.com/color/50/000000/linkedin.png"/>
                <img src="https://img.icons8.com/color/48/000000/pinterest--v1.png"/>
            </div>
        </div>
    </div>
</div>
<script>
    animation();
    //top_main_web();
    //////////////////////////////////////////////////////////////////
    //var list_ele_border =[".dich_vu",".san_pham",".tin_tuc",".doi_tac",".lien_he",".doi_tac_sub",".doi_tac_img"];
    //elementBorder(list_ele_border);
    //set_footer(".footer");
    //var ve_chung_toi=".ve_chung_toi_content_sub";
     menu_color("#menu_page");
     read_iframe();
     dont_show();
</script>
</body>
</html>